.forgot-password {
  width: 30%;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forgot-password .forgot-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 30px;
}

.forgot-password .forgot-email-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password .send {
  margin-top: 50px;
}
