.app-container {
    display: flex;
}

.sidebar {
    width: 200px;
}

.content {
    flex: 1;
    /* height of toolbar above */
    margin-top: 50px;
    /* padding around the table */
    padding: 20px;
}

.user-results-heading {
    padding: 20px;
    font-size: 25px;
}